.search-input {
  height: 100%;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 11px;
  text-align: start;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-btn {
  height: 47px;
  margin: auto;
  border-radius: 10px;
  font-size: 25px;
  border: none;
  background-color: rgb(190, 10, 10);
  color: white;
}